<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C1.C1Excel.Ja" version="4.8.20233.631" targetFramework="net481" />
  <package id="C1.Win.Bitmap.Ja" version="8.0.20233.631" targetFramework="net481" />
  <package id="C1.Win.C1DX.Ja" version="4.8.20233.631" targetFramework="net481" />
  <package id="C1.Win.Ja" version="8.0.20233.631" targetFramework="net481" />
  <package id="C1.Xaml.WPF.Binding.Ja" version="4.6.20233.801" targetFramework="net481" />
  <package id="C1.Xaml.WPF.Bitmap.Ja" version="4.6.20233.801" targetFramework="net481" />
  <package id="C1.Xaml.WPF.C1Chart.Ja" version="4.6.20233.801" targetFramework="net481" />
  <package id="C1.Xaml.WPF.DateTimeEditors.Ja" version="4.6.20233.801" targetFramework="net481" />
  <package id="C1.Xaml.WPF.DX.Ja" version="4.6.20233.801" targetFramework="net481" />
  <package id="C1.Xaml.WPF.Excel.Ja" version="4.6.20233.801" targetFramework="net481" />
  <package id="C1.Xaml.WPF.FlexGrid.Ja" version="4.6.20233.801" targetFramework="net481" />
  <package id="C1.Xaml.WPF.FlexGridFilter.Ja" version="4.6.20233.801" targetFramework="net481" />
  <package id="C1.Xaml.WPF.FlexSheet.Ja" version="4.6.20233.801" targetFramework="net481" />
  <package id="C1.Xaml.WPF.Ja" version="4.6.20233.801" targetFramework="net481" />
  <package id="C1.Xaml.WPF.Pdf.Ja" version="4.6.20233.801" targetFramework="net481" />
  <package id="C1.Xaml.WPF.RichTextBox.Ja" version="4.6.20233.801" targetFramework="net481" />
  <package id="C1.Xaml.WPF.Word.Ja" version="4.6.20233.801" targetFramework="net481" />
  <package id="C1.Xaml.WPF.Zip.Ja" version="4.6.20233.801" targetFramework="net481" />
  <package id="C1.Zip.Ja" version="2.0.20233.3" targetFramework="net481" />
</packages>